*.md linguist-detectable=ture linguist-language=markdown
*.json linguist-detectable=ture linguist-language=json
*.html linguist-detectable=ture linguist-language=html
*.txt linguist-detectable=ture linguist-language=text 
